.home-all {
  /* background-color: black; */
}

.intro {
  border: 5px solid rgb(247, 239, 239);
  padding: 30px;
  background-color: rgb(7, 7, 7);
  color: rgb(245, 243, 243);
  font-size: 15px;
}
.about-me {
  background-color: black;
  color: white;
  margin: 20px 10px 20px 10px;
  padding: 30px;
  flex: 1;
  align-content: center;
  justify-content: space-between;
  font-size: 25px;
  height: 40vh;
}
